@model CashHub.Models.Sub

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sub</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubId" />
            <div class="form-group">
                <label asp-for="SubName" class="control-label"></label>
                <input asp-for="SubName" class="form-control" />
                <span asp-validation-for="SubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAddress" class="control-label"></label>
                <input asp-for="SubAddress" class="form-control" />
                <span asp-validation-for="SubAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubRefNum" class="control-label"></label>
                <input asp-for="SubRefNum" class="form-control" />
                <span asp-validation-for="SubRefNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubPhone" class="control-label"></label>
                <input asp-for="SubPhone" class="form-control" />
                <span asp-validation-for="SubPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
